{% extends 'base_home.html' %}

{% block content %}
<h3 style="display: inline;">Secret Santa Machine</h3><span id="siteVersion"><small> Version 1.0</small></span>
<div class="row" style="text-align: center;margin-top: 1em;">
<div class="col-3">

</div>
<div class="col-6">
    <p>Hi, I'm Stephen and I am a web developer. 
        My goal of this web application is to make the secret santa process assigning fun and easy.</p>
    <p>If You have any comments/queries or if you would like to follow my work, here are some links:</p>
    <p>
        <a href="https://stephenprabhu.com/" class="btn btn-sm btn-primary"><i class="fas fa-globe"></i> stephenprabhu.com</a><br>
        <a href="https://github.com/stephenprabhu" class="btn btn-sm btn-primary mt-2"><i class="fab fa-github"></i> GitHub</a><br>
        <a href="https://www.linkedin.com/in/stephen-machado-prabhu-8549277a/" class="btn btn-sm btn-primary mt-2"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
    </p>
</div>
<div class="col-3">
    
</div>

    
</div>

<h5 class="mt-2">Source Code: </h5>
<a class="btn btn-info" href="https://github.com/stephenprabhu/secret-santa-generator"><i class="fab fa-github"></i> GitHub</a>
    <h5 class="mt-2">Background Image:</h5>
    <a class="btn btn-success" href="https://www.freepik.com/vectors/christmas">Christmas vector by freepik</a>
{% endblock %}