{% extends "base_home.html" %}

{% block content %}
<h3>Ho Ho Ho, Lets Begin</h3>

<div class="row">
    <div class="col-12 mt-3">
        <a href="{% url 'register' %}" class="btn btn-success"><i class="far fa-snowflake"></i> Create New Group</a>
    </div>
    <div class="col-12 mt-3">
        <a href="{% url 'main:list' %}" class="btn btn-success"><i class="far fa-snowflake"></i> Manage Existing Group</a>
    </div>
      <div class="col-12 mt-3">
        <a href="{% url 'main:about' %}" class="btn btn-success"><i class="fas fa-snowman"></i>  About</a>
    </div>
</div>


{% endblock %}