{% extends "main/base_bootstrap.html" %}

{% block content %}

<div class="row">
    <div class="col-5">
        {% if person_list %}
        <ul>
            The People Are:
        {% for person in person_list %}
           <li> {{person.name}} <a href="{% url 'main:update' person.id %}">Update</a> | <a href="{% url 'main:remove' person.id %}">Delete</a>   </li>
        {% endfor %}
        </ul>
        {% else %}
            No members yet. Try Adding One.
        {% endif %}

    </div>
    {% load crispy_forms_tags %}
    <div class="col-5">
        <form method="POST" action="{% url 'main:add' %}">
            {% csrf_token %}
            {{ person_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
<br>
Done Adding Members? Begin Generating Secret Santas for everyone
<button type="button"  data-bs-toggle="modal" data-bs-target="#sendMail" class="btn btn-success">Begin</button>
<a href="{% url 'main:all' %}" class="btn btn-primary">Home</a>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="sendMail" tabindex="-1" role="dialog" aria-labelledby="sendMailLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendMailLabel">Confirmation</h5>
        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are You Sure You Wish To Proceed?</p>
        <form method="POST" action="{% url 'main:send' %}">
             {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
